#title{
display: flex;
justify-content: center;
background-color: rgb(255, 203, 119);
margin: 3% auto 5% auto;
padding-top: 5%;
padding-bottom: 5%;
}

body{
  background-color: rgb(23, 195, 178);
  font-family: 'Catamaran', sans-serif;
}

#intro{
display: flex;
justify-content: center;
margin: 5% auto; 
}

#recipe-button{
display: flex;
margin: auto;
background-color: rgb(254, 109, 115);
border-radius: 30%;
padding-top: 1%;
padding-bottom: 1%;
box-shadow: 3px 3px 3px grey;
}

#recipe{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#contain{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#container div{
  align-items: center;
}

#ingredients{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

#image img{
  display: flex; 
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 250px;
  width: auto;
  margin: auto;
  box-shadow: 3px 3px 3px grey;
}

#instructions{
  display: flex;
  margin: auto;
  padding: 15px;
}

@media only screen and (max-width: 600px){
	#contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #title{
    text-align: center;
  }
  #intro{
    text-align: center;
  }
}

@media only screen and (max-width: 713px){
  #intro{
    text-align: center;
  }
}
